[submodule "tnc/themes/hextra"]
	path = tnc/themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "static/themes/hugo-theme-stack"]
	path = static/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
