@import 'tailwindcss';
@plugin "daisyui" {
  themes: emerald;
}
@plugin "daisyui/theme" {
  name: 'emerald';
  default: true;
}
@plugin "@tailwindcss/typography";
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    roboto,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-gray-200);
  }
  hr {
    border-color: var(--color-gray-200);
  }
}
